<%= render partial: "worker_accounts/personal_info" %>
<div class="mt-6 flex gap-6">
  <%= link_to "Ваші створені послуги", worker_accounts_path, class: "tab" %>
  <div class="tab active-tab"> Отримані замовлення </div>
</div>
<div class="service-wrapper mt-6">
  <% @service_orders.each do |service_order| %>
    <%= render partial: "worker_accounts/service_order", locals: { service_order: service_order } %>
  <% end %>
</div>
<% if @pagy.pages > 1 %>
  <%= render template: "layouts/pagination", locals: { pagy: @pagy } %>
<% end %>
