<h2> Ваш робочий аккаунт </h2>
<p> Тут будуть відображені всі ваші послуги та замовлення, що зробили користувачі сайту </p>
<h4> Ваша інформація </h4>
<p>
  Категорія:
  <%= @worker_account.category %>
</p>
<p>
  Опис:
  <%= @worker_account.description %>
</p>
<p>
  Відкриті до нової роботи:
  <%= @worker_account.looking_for_work %>
</p>
<%= link_to "Редагувати", edit_worker_accounts_path, class: "button primary-button" %>
