<%= render partial: "worker_accounts/personal_info" %>
<div class="mt-6 flex gap-6">
  <div class="tab active-tab"> Ваші створені послуги </div>
  <%= link_to "Замовлення", service_orders_worker_accounts_path, class: "tab" %>
</div>
<div class="service-wrapper mt-6">
  <% @worker_account.services.all.each do |service| %>
    <%= render partial: "worker_accounts/service", locals: { service: service } %>
  <% end %>
</div>
