<div class="block-wrapper mt-4">
  <h3 class="mb-4"> Створені послуги: </h3>
  <div class="service-wrapper">
    <% @worker.services.all.each do |service| %>
      <%= render partial: "services/service", locals: { service: service } %>
    <% end %>
    <% if @worker.services.empty? %>
      <em> Виконавець ще не створив послуги </em>
    <% end %>
  </div>
</div>
