<div class="flex">
  Відкритий до нової роботи:
  <% if worker.looking_for_work %>
    <div class="text-green-600 ml-2"> Відкритий </div>
  <% else %>
    <div class="text-red-600 ml-2"> Не приймає нові замовлення </div>
  <% end %>
</div>
