<h2 class="mb-8"> Перелік всіх виконавців </h2>
<div class="service-wrapper">
  <% Worker.all.each do |worker| %>
    <%= render partial: "workers/worker", locals: { worker: worker }%>
  <% end %>
</div>
