.button {
  @apply font-bold py-2 px-4 rounded cursor-pointer focus:outline-none;
}

.primary-button {
  @apply bg-blue-500 hover:bg-blue-700 text-white;
}

.secondary-button {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-800;
}

.red-button {
  @apply bg-red-400 hover:bg-red-500 text-white;
}
